<footer>
	<div class="container">
		<div class="row clearfix">
			<div class="column fifth float-right">
				<h3>Connect</h3>
				<ul class="social">
					<li><a href="mailto:info@zero1fifty6.com" title="info@zero1fifty6.com"><i class="fa fa-envelope"></i> email</a></li>
					<li><a href="https://twitter.com/zero1fifty6" target="_blank" title="@zero1fifty6"><i class="fa fa-twitter"></i> twitter</a></li>
					<li><a href="https://github.com/zero1fifty6" target="_blank" title="zero1fifty6"><i class="fa fa-github"></i> github</a></li>
				</ul>
			</div>
		</div>
		<div class="row clearfix">
			<div class="column full copyright">
				copyright &copy; {{ site.time | date: "%Y" }} {{ site.author }}. all rights reserved.
			</div>
		</div>
	</div>
</footer> 

{% include disqus.html %}
{% include twitter_sharing.html %}
