{% include head.html %}

  <body>
      <div id="header">
        <div id="title">
        <h1><a href="/"><img src="/images/zero1fifty6_red.png" alt="zero1fity6 logo" /> <span>zero1fifty6</span></a></h1>
        </div>
        <nav>
          <ul>
            <li><a href="/about">about</a></li>
            <li><a href="/projects">projects</a></li>
            <li><a href="/services">services</a></li>
            <li><a href="/pricing">pricing</a></li>
            <li><a href="/blog">blog</a></li>
            <li><a href="/contact">contact</a></li>
            <li><a href="/get-started">get started</a></li>
        </nav>
      </div>

    <div class="wrapper">
      <section>
        {{ content }}
      </section>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% include footer.html %}    
  </body>
</html>