{% include head.html %}

  <body>
    {% include header.html %}
    <div class="body">
      {{ content }}
    </div>
    {% include footer.html %}
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    <script type="text/javascript">
    var str=location.href.toLowerCase();
    $("header nav li a").each(function() {
      $(this).click(function () {
        $('a.current').removeClass('current');
      });
      if (str.indexOf(this.href.toLowerCase()) > -1) {
        $(this).addClass("current");
      }
    });
  </script>  
  </body>
</html>